$color-wave: #61aca9;
#home-section {
  background-color: #161623;

  .title-section {
    color: #fff;
    font-weight: 700;
    text-align: center;
  }

  .banner-section-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(22, 23, 46, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    // clip-path: circle(180vh at 50% -80vh);
    .banner-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .banner-information-wrapper {
        flex: 1 1 50%;

        @media screen and (max-width: $screen-lg) {
          flex: 1 1 100%;
        }

        .banner-title {
          font-size: 22px;
          padding-bottom: 2rem;
          @extend .title-font;
        }

        .banner-sub-title {
          font-size: 18px;
          padding-bottom: 2rem;
        }

        .banner-description {
          font-size: 14px;
          padding-bottom: 2rem;
        }

        .banner-button {
          text-decoration: none;
          position: relative;
          display: inline-block;
          padding: 8px 20px;
          margin-top: 15px;
          background-color: #fff;
          border-radius: 20px;
          color: #333;
          font-weight: 500;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        }
      }

      .globe-wrapper {
        flex: 1 1 30%;
        width: 50%;
        padding-top: 10px;

        @media screen and (max-width: $screen-lg) {
          display: none;
        }

        @keyframes pulse {
          0% {
            transform: scale(1);
          }
          50% {
            opacity: 0.5;
          }
          100% {
            opacity: 0;
            transform: scale(2);
          }
        }
        .globe {
          position: relative;
          width: 45vw !important;
          height: 100vh;
        }
        .globe .globe-canvas {
          z-index: 0;
          position: absolute;
          left: 0;
          top: 0;
        }
        .globe-list {
          z-index: 10;
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          list-style: none;
          transition: opacity 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        .globe-list.active {
          opacity: 1;
        }
        .globe-list > li {
          opacity: 0.4;
          position: absolute;
          margin-left: -8px;
          margin-top: -8px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: #00ffd3;
          transition: opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        .globe-list > li:before {
          content: "";
          opacity: 0.5;
          pointer-events: none;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -8px;
          margin-top: -8px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: #00ffd3;
          animation: 2s pulse infinite linear;
        }
        .globe-list > li.active {
          opacity: 1;
          margin-left: -12px;
          margin-top: -12px;
          width: 24px;
          height: 24px;
          background: #fff;
        }
        .globe-list > li.active:before {
          margin-left: -12px;
          margin-top: -12px;
          width: 24px;
          height: 24px;
          background: #fff;
        }
        .globe-list > li.active .text {
          opacity: 1;
          right: 29px;
          font-size: 20px;
          line-height: 20px;
          font-weight: 700;
        }
        .globe-list .text {
          position: absolute;
          opacity: 0.8;
          right: 21px;
          top: 50%;
          display: block;
          font-size: 14px;
          line-height: 14px;
          font-weight: 600;
          text-align: right;
          text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
            1px 1px 0 #000;
          color: #fff;
          white-space: nowrap;
          transform: translateY(-50%);
        }
      }
    }
  }

  .event-wrapper {
    display: flex;
    @media screen and (max-width: $screen-lg) {
      flex-direction: column;
    }

    .event-content-wrapper {
      flex: 1 1 50%;
      padding: 80px 100px 80px 200px;

      @media screen and (max-width: $screen-lg) {
        padding: 30px;
      }

      .event-title {
        color: #fff;
        font-size: 46px;
        margin-bottom: 2rem;
      }

      .event-description {
        color: #fff;
      }
    }

    .event-section-slider {
      flex: 1 1 50%;
      padding: 80px 0px;
      display: flex;
      max-width: 800px;

      .event-section-slider-item {
        padding: 0 10px;

        .event-slider-image {
          margin-bottom: 1rem;

          @media screen and (max-width: $screen-lg) {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          img {
            width: 250px;
            height: 450px;
            object-fit: cover;
            border-radius: 15px;

            @media screen and (max-width: $screen-lg) {
              width: 250px;
              height: 250px;
            }
          }
        }

        .event-slider-title {
          font-size: 18px;
          color: #fff;
          @media screen and (max-width: $screen-lg) {
            text-align: center;
          }
        }

        .event-caption {
          font-size: 14px;
          color: #fff;
          @media screen and (max-width: $screen-lg) {
            text-align: center;
          }
        }
      }
    }
  }

  .event-character-wrapper {
    border-top: 2px solid #614f82;
    border-bottom: 2px solid #614f82;
    background-color: #202335;
    padding: 80px 0px;

    .event-slider-wrapper {
      .event-slider-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .event-image-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 2rem;
          .image-event-slider {
            width: 250px;
          }
        }

        .event-title {
          color: white;
        }
      }
    }
  }

  .home-banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .card-home-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .card-home {
        position: relative;
        width: 280px;
        height: 400px;
        margin: 30px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        z-index: 1;

        &:hover {
          .content {
            transform: translateY(0px);
            opacity: 1;
          }
        }

        .content {
          padding: 20px;
          text-align: center;
          transition: 0.5s;
          transform: translateY(0px);
          opacity: 1;

          @media screen and (max-width: $screen-lg) {
            transform: translateY(0px);
            opacity: 1;
          }

          h2 {
            position: absolute;
            top: -80px;
            right: 30px;
            font-size: 8em;
            color: rgba(255, 255, 255, 0.05);
            pointer-events: none;
          }

          h3 {
            font-size: 1.8em;
            color: #fff;
            z-index: 1;
          }

          p {
            font-size: 1em;
            color: #fff;
            font-weight: 300;
          }

          a {
            text-decoration: none;
            position: relative;
            display: inline-block;
            padding: 8px 20px;
            margin-top: 15px;
            background-color: #fff;
            border-radius: 20px;
            color: #333;
            font-weight: 500;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          }
        }
      }

      @media screen and (max-width: $screen-lg) {
        flex-direction: column;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(#219ab0, #2196f3);
      clip-path: circle(20% at right 45%);
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(#e81e63, #a82a90);
      clip-path: circle(10% at 10% 20%);
      border-top-left-radius: 15px;
    }
  }

  .about-us-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

    .image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .image-about {
        width: 350px;
        overflow: hidden;
        transform: translatey(0px);
        animation: float 6s ease-in-out infinite;
      }
    }
  }

  .tenant-wrapper {
    display: flex;
    position: relative;
    height: 100vh;
    margin-top: -2rem;

    &.type-right {
      flex-direction: row-reverse;
    }

    @media screen and (max-width: $screen-lg) {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.type-right {
        flex-direction: column;
      }
    }

    .tenant-image-wrapper {
      flex: 1 1 50%;
      position: relative;
      .image-tenant {
        position: absolute;
        left: -90px;
        top: -90px;
        width: 850px;

        @media screen and (max-width: $screen-lg) {
          position: relative;
          width: 350px;
          left: unset;
          top: unset;
        }
      }
    }

    .tenant-content {
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: $screen-lg) {
        margin-top: -4rem;
      }

      .tenant-content-title {
        color: #fff;
        font-size: 42px;
        text-align: center;
        margin-bottom: 1rem;
      }

      .tenant-counter {
        color: #fff;
        font-size: 52px;
        text-align: center;
        margin-bottom: 2rem;
      }

      .tenant-content-button {
        text-decoration: none;
        position: relative;
        display: inline-block;
        padding: 8px 20px;
        margin-top: 15px;
        background-color: #fff;
        border-radius: 20px;
        color: #333;
        font-weight: 500;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          color: #614f82;
        }
      }
    }
  }

  .register-event-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background-color: #161623;
    flex-direction: column;

    &:after {
      content: "";
      position: absolute;
      width: 400px;
      height: 400px;
      background: linear-gradient(#ffeb3b, #e91e63);
      border-radius: 50%;
      transform: translate(-420px, -180px);
    }

    &:before {
      content: "";
      position: absolute;
      width: 350px;
      height: 350px;
      background: linear-gradient(#2196f3, #83d8ff);
      border-radius: 50%;
      transform: translate(400px, 180px);
    }

    .form-wrapper {
      position: relative;
      z-index: 50;
      padding: 50px;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      overflow: hidden;
      backdrop-filter: blur(25px);

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.05);
        pointer-events: none;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -40%;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.05);
        pointer-events: none;
        transform: skewX(-15deg);
      }

      .title-section {
        font-size: 36px;
        margin-bottom: 20px;
      }

      .row-custom {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        .col-custom {
          position: relative;
          width: 100%;
          padding: 0 10px;
          margin: 30px 0 20px;

          .input-box-wrapper {
            position: relative;
            width: 100%;
            height: 40px;
            color: #fff;

            &.type-textarea {
              height: 70px;
            }

            input {
              position: absolute;
              width: 100%;
              height: 100%;
              background: transparent;
              box-shadow: none;
              border: none;
              outline: none;
              font-size: 15px;
              padding: 0 10px;
              z-index: 1;
              color: #333;

              &:focus + .text {
                top: -35px;
                left: -10px;
              }

              &:valid + .text {
                top: -35px;
                left: -10px;
              }

              &:focus ~ .line {
                height: 100%;
              }

              &:valid ~ .line {
                height: 100%;
              }
            }

            textarea {
              position: absolute;
              width: 100%;
              height: 100%;
              background: transparent;
              box-shadow: none;
              border: none;
              outline: none;
              font-size: 15px;
              padding: 0 10px;
              z-index: 1;
              color: #333;
              resize: none;

              &:focus + .text {
                top: -35px;
                left: -10px;
              }

              &:valid + .text {
                top: -35px;
                left: -10px;
              }

              &:focus ~ .line {
                height: 100%;
              }

              &:valid ~ .line {
                height: 100%;
              }
            }

            .text {
              position: absolute;
              top: 0;
              left: 0;
              line-height: 40px;
              font-size: 18px;
              padding: 0 10px;
              display: block;
              transition: 0.5s;
              pointer-events: none;
            }

            .line {
              position: absolute;
              bottom: 0;
              display: block;
              width: 100%;
              height: 2px;
              background: #fff;
              transition: 0.5s;
              border-radius: 2px;
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}
