.main-font {
  font-family: "WorkSans-Regular", sans-serif;
}

.main-font-bold {
  font-family: "WorkSans-Bold", sans-serif;
}

.main-font-medium {
  font-family: "WorkSans-Medium", sans-serif;
}

.main-font-light {
  font-family: "WorkSans-ExtraLight", sans-serif;
}

.title-font {
  font-family: "Monoton", sans-serif;
}

// .secondary-font-light {
//   font-family: "Montserrat", sans-serif;
// }

// .secondary-font-bold {
//   font-family: "Montserrat", sans-serif;
// }
