@font-face {
  font-family: WorkSans-Regular;
  src: url("../../fonts/WorkSans-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: WorkSans-Bold;
  src: url("../../fonts/WorkSans-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: WorkSans-Medium;
  src: url("../../fonts/WorkSans-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: WorkSans-ExtraLight;
  src: url("../../fonts/WorkSans-ExtraLight.ttf");
  font-display: swap;
}
@font-face {
  font-family: Masego;
  src: url("../../fonts/masego.otf");
  font-display: swap;
}

@font-face {
  font-family: Monoton;
  src: url("../../fonts/Monoton-Regular.ttf");
  font-display: swap;
}
